<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Jarvis</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>performance</param-name>
    <param-value>performance.properties</param-value>
  </context-param>
  <servlet>
    <servlet-name>javaAngularJS</servlet-name>
    <servlet-class>controller.AngularJsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>perfDemandController</servlet-name>
    <servlet-class>controller.PerfDemandController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>perfTrendsController</servlet-name>
    <servlet-class>controller.PerfTrendsController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>brandDemandController</servlet-name>
    <servlet-class>controller.BrandDemandController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>brandTrendsController</servlet-name>
    <servlet-class>controller.BrandTrendsController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>exchangeController</servlet-name>
    <servlet-class>controller.ExchangeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>exchangeRanksController</servlet-name>
    <servlet-class>controller.ExchangeRanksController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>businessLineController</servlet-name>
    <servlet-class>controller.BusinessLineController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>publisherAccountController</servlet-name>
    <servlet-class>controller.PublisherAccountController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>auctionsController</servlet-name>
    <servlet-class>controller.AuctionsController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pubChurnController</servlet-name>
    <servlet-class>controller.PubChurnController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ooController</servlet-name>
    <servlet-class>controller.OOController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>newTagsController</servlet-name>
    <servlet-class>controller.NewTagsController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tierOptController</servlet-name>
    <servlet-class>controller.TierOptController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewabilityController</servlet-name>
    <servlet-class>controller.ViewabilityController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adQualityController</servlet-name>
    <servlet-class>controller.AdQualityController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sdkController</servlet-name>
    <servlet-class>controller.SDKController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>nativeController</servlet-name>
    <servlet-class>controller.NativeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mobDealController</servlet-name>
    <servlet-class>controller.MobDealController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>nativeDemandController</servlet-name>
    <servlet-class>controller.NativeDemandController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>osVerController</servlet-name>
    <servlet-class>controller.OsVerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>javaAngularJS</servlet-name>
    <url-pattern>/javaAngularJS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>perfDemandController</servlet-name>
    <url-pattern>/perfDemandController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>perfTrendsController</servlet-name>
    <url-pattern>/perfTrendsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>brandDemandController</servlet-name>
    <url-pattern>/brandDemandController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>brandTrendsController</servlet-name>
    <url-pattern>/brandTrendsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exchangeController</servlet-name>
    <url-pattern>/exchangeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exchangeRanksController</servlet-name>
    <url-pattern>/exchangeRanksController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>businessLineController</servlet-name>
    <url-pattern>/businessLineController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>publisherAccountController</servlet-name>
    <url-pattern>/publisherAccountController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>auctionsController</servlet-name>
    <url-pattern>/auctionsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pubChurnController</servlet-name>
    <url-pattern>/pubChurnController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ooController</servlet-name>
    <url-pattern>/ooController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newTagsController</servlet-name>
    <url-pattern>/newTagsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tierOptController</servlet-name>
    <url-pattern>/tierOptController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewabilityController</servlet-name>
    <url-pattern>/viewabilityController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adQualityController</servlet-name>
    <url-pattern>/adQualityController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sdkController</servlet-name>
    <url-pattern>/sdkController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>nativeController</servlet-name>
    <url-pattern>/nativeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mobDealController</servlet-name>
    <url-pattern>/mobDealController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>nativeDemandController</servlet-name>
    <url-pattern>/nativeDemandController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>osVerController</servlet-name>
    <url-pattern>/osVerController</url-pattern>
  </servlet-mapping>
</web-app>